<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sugandh.panacea1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHSWWcPVzub0UfiKBjP9z61GgpecGIf-s" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity
            android:name=".user.homeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usp.uspDetail"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usp.uspDetail2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usp_login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".search"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".display_usp_list"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usp.UspHomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".verifyFirst" />
        <activity
            android:name=".requestFlow.ServicePage"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1edf3d6895777fb042eda244d6ca7129491ef44c" />

        <activity android:name=".requestFlow.ServiceLocation" />
        <activity android:name=".requestFlow.ServiceSchedule" />
        <activity android:name=".forgotPassword" />
    </application>

</manifest>